@media (max-width:1000px){
    header .menu-icon{
        display: none;
    }
}
@media (max-width:670px){
    main h1{
        font-size: 30px;
    }
    main p{
        font-size: 16px;
    }
    header{
        padding: 30px 50px;
    }
    nav{
        display: none;
    }
    header .menu-icon{
        display: block;
        font-size:40px;
        color:#6988F8;
    }
    main img{
        width: 500px;
    }
    .body-page-title h1{
        font-size: 20px;
    }
    .body-page-title p{
        text-align: center;
        font-size: 16px
    }
}